{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'assets/css/table.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="container">
	<div class="row">

		<section class="content" style="margin-top: 30px">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-left">
							<div class="btn-group">
								{% if aula.active %}
									<a href="/end" class="btn btn-danger btn-filter" data-target="cancelado">Finalizar Aula</a>
								{% else %}
									<a href="/start" class="btn btn-success btn-filter" data-target="pagado">Iniciar Aula</a>
								{% endif %}
							</div>
						</div>
						<div class="pull-right">
							<div class="btn-group">
								<a href="/add" class="btn btn-default">Adicionar Aluno</a>
							</div>
						</div>			
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									{% for aluno in alunos %}
										<tr data-status="pagado">
											<td>
												<div class="media">
													<a class="pull-left">
														<img src="/media/{{ aluno.foto }}" class="media-photo">
													</a>
													<div class="media-body">
														<h4 class="title">
															{{ aluno.nome }}
															{% if aluno.is_presente %}
																<span class="pull-right pagado">Presente</span>
															{% else %}
																<span class="pull-right cancelado">Ausente</span>
															{% endif %}
														</h4>
													</div>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>
<script>
	setInterval(function() {
		// location.reload();
		$(".table-container").load(location.href + " .table-container");
	}, 1000)
</script>